<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>$label</string>
	<key>ProgramArguments</key>
	<array>
		<string>twistd</string>
		<string>-n</string>
		<string>yapper</string>
		<string>-j</string>
		<string>$jid</string>
		<string>-p</string>
		<string>$password</string>
		<string>-h</string>
		<string>$host</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
</dict>
</plist>
